{{ pillar['headers']['multiline'] }}
BASE {{ config.base }}
URI ldap{% if config.enablessl | to_bool %}s{% endif %}://{{ config.host }}{% if config.port | string | length > 0 %}:{{ config.port }}{% endif %}
TLS_REQCERT never
LDAPTLS_REQCERT never
{%- if config.extraclientoptions | length > 0 %}
{{ config.extraclientoptions }}
{%- endif %}
