{%- set ldap_version = salt['pillar.get']('default:OMV_LDAP_LDAPVERSION', '3') -%}
{{ pillar['headers']['multiline'] }}
uri ldap{% if config.enablessl | to_bool %}'s'{% endif %}://{{ config.host }}{% if config.port | string | length > 0 %}:{{ config.port }}{% endif %}
base {{ config.base }}
rootbinddn {{ config.rootbinddn }}
ldap_version {{ ldap_version }}