Source: openmediavault-ldap
Section: admin
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 13 )
Standards-Version: 4.3.0

Package: openmediavault-ldap
Architecture: all
Depends: openmediavault (>= 7.4), libnss-ldap, libpam-ldap
Priority: optional
Description: openmediavault Lightweight Directory Access Protocol (LDAP) plugin
 LDAP is an application protocol for accessing and maintaining distributed
 directory information services over an Internet Protocol network. This
 plugin adds user authentication support via LDAP.
